:root {
    --header-height: 50px;
    --sidenav-width: 130px;
}

body {
	background-color:#FFF6C9;
	font-family: Georgia;
	font-size: 12pt;
}

#header {
    height: var(--header-height);
    width: 100%;
    text-align: center;
    background: #546D64;
    color: white;
    font-size: 20px;
    position:absolute;
    top: 0;
    left: 0;
    
    animation-name: expand-header;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

#header img {
    height: var(--header-height);
}

/*logo will vibrate when hovered over*/
#header img:hover {
    animation: vibrate 0.4s;
    animation-iteration-count: infinite;
}

/*vibrating animation for some fun visual transforms (referenced from w3schools "shake" animation) */
@keyframes vibrate {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* The sidebar menu */
#sidenav {
    width: var(--sidenav-width); /* Set the width of the sidebar */
    position: fixed;
    background-color: #A9BCD0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;   
    bottom: 0;;
    animation-name: expand-sidenav;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
  
/* The navigation menu links */
#sidenav a {
    padding: 40px 8px 40px 8px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition-property: all;
    transition-duration: 0.5s;
}
  
/* When you mouse over the navigation links, change their color */
#sidenav a:hover {
    color: #f1f1f1;
    border: 1px dashed  #f1f1f1;
}
/*h1 in sidebar will flaot*/
#sidenav h1 {
    animation: floating 2s infinite;
}

@keyframes floating {
    0%{transform:translate(0px, 0px);}
    10% {transform:translate(0px, -2px);}
    30% { transform:translate(0px, -5px)}
    50% { transform:translate(0px, -2px)}
    60% {transform: translate(0px, 0px);}
    70% {transform: translate(0px, 2px);}
    80% {transform: translate(0px, 4px);}
    90% {transform: translate(0px, 2px);}
    100% {transform: translate(0px, 0px);}
}

/* Style page content */
#main-body {
    padding-left: var(--sidenav-width); /* Same as the width of the sidebar */
    padding-top: var(--header-height);
    
    animation-name: reveal-main-body;
    animation-duration: 1.25s;
    animation-timing-function: ease-out;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@keyframes expand-header {
    0% {
        top: calc(-1 * var(--header-height));
    }
    100% {
        top: 0;
    }
}

@keyframes expand-sidenav {
    0% {
        left: calc(-1 * var(--sidenav-width));
    }
    50% {
        left: calc(-1 * var(--sidenav-width));
    }
    100% {
        left: 0; 
    }
}

@keyframes reveal-main-body {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}